.wrap{
    width: 600px;
    background-color: rgb(91, 155, 91);
    margin: auto;
    color: #fff;
}

.low-right, .high-right, .low-center, .high-center, .low-left, .high-left{
    width: 60px;
    margin: 20px;
    background: white;
}

.courseSelect{
    height: 200px;
    width: 600px;
    background-image: url(/img/goalIllust.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .center, .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
}

.keeper{
    width: 110px;
}

.shootOrBlock{
    margin: auto;
}

th{
    color: black;
    border: 2px #808080 solid;
    width: 80px;
    height: 100px; 
}

td{
    border: 2px #808080 solid;
    width: 80px;
    height: 100px; 
    text-align: center;
}

table{
    color: black;
    margin-top: 30px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}